---
import { contactDataDE, contactDataEN } from '@/data/contact';
import { useTranslations } from '@/utils/i18n';
import ContactDetails from './ContactDetails.astro';
import ContactForm from './ContactForm.svelte';
import SectionHeader from './SectionHeader.astro';

const ui = {
	en: {
		SectionHeader: {
			mainText: 'Ask questions. Get answers.',
			smallText: 'Create contact',
			bgText: 'Contact',
		},
	},
	de: {
		SectionHeader: {
			mainText: 'Stelle Fragen. Erhalte Antworten.',
			smallText: 'Kontaktaufnahme',
			bgText: 'Kontakt',
		},
	},
};

const lang = Astro.url.pathname.split('/')[1] === 'de' ? 'de' : 'en';

const t = useTranslations(ui, lang);

const contactData = lang === 'en' ? contactDataEN : contactDataDE;
---

<section class="contact-section main-section" id="contact-section">
	<SectionHeader
		mainText={t("SectionHeader.mainText")}
		smallText={t("SectionHeader.smallText")}
		bgText={t("SectionHeader.bgText")}
	/>

	<section class="details">
		{
			contactData.map(({ icon, header, text, anchor }) => {
				return (
					<ContactDetails
						icon={icon}
						header={header}
						text={text}
						anchor={anchor}
					/>
				);
			})
		}
	</section>

	<ContactForm lang={lang} client:load />
</section>

<style>
	.contact-section {
		&::after {
			position: absolute;
			left: 0;
			bottom: -83px;
			z-index: 2;
			width: 144px;
			height: 166px;
			background-image: url(../images/dots-main.svg);
			background-repeat: no-repeat;
			background-size: 144px 166px;
			content: "";
			opacity: 0.2;
		}

		@media (min-width: 1200px) {
			max-width: 75rem;
			margin-right: auto;
			margin-left: auto;
		}

		@media (min-width: 1600px) {
			&::after {
				left: -12.5rem;
			}
		}

		.details {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
	}
</style>
