---
import { statDataDE, statDataEN } from "@/data/stat";
import { useTranslations } from "@/utils/i18n";
import SectionHeader from "./SectionHeader.astro";
import Stat from "./Stat.astro";

const ui = {
	en: {
		SectionHeader: {
			mainText: "A few figures about me",
			smallText: "statistics",
			bgText: "Stats",
		},
	},
	de: {
		SectionHeader: {
			mainText: "Ein paar Zahlen über mich",
			smallText: "Statistiken",
			bgText: "Statistiken",
		},
	},
};

const lang = Astro.url.pathname.split("/")[1] === "de" ? "de" : "en";

const t = useTranslations(ui, lang);

const statData = lang === "en" ? statDataEN : statDataDE;
---

<section class="stats main-section" id="stats">
	<SectionHeader
		mainText={t("SectionHeader.mainText")}
		smallText={t("SectionHeader.smallText")}
		bgText={t("SectionHeader.bgText")}
	/>

	<section class="content">
		{
			statData.map((props) => (
				<Stat
					upperTitle={props.upperTitle}
					lowerTitle={props.lowerTitle}
					value={props.value}
					duration={props.duration}
					format={props.format}
					initial={props.initial}
					prefix={props.prefix}
					roundTo={props.roundTo}
					step={props.step}
					suffix={props.suffix}
				/>
			))
		}
	</section>
</section>

<style>
	.stats {
		@media (min-width: 1200px) {
			max-width: 75rem;
			margin-right: auto;
			margin-left: auto;
		}

		.content {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 1.5rem;

			@media (min-width: 1200px) {
				flex-direction: row;
				justify-content: space-around;
			}
		}
	}
</style>
